{% extends 'base.html' %} 

{% block style %}
    <style>
        .cols {
            display: flex;
            justify-content: space-between;
        }
        .col {
            width: 30%;
            padding-top: 10px;
            text-align: center;
            box-shadow: 0 0 5px #999;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cols">
        {% for item in items %}
            <div class="col">
                <a href="{% url 'get-item' item.id %}" style="text-decoration: none">{{ item.name }}</a>
                <p>{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
