<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>item page</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style-type: none">
                <li style="display: inline"><a href="/" style="text-decoration: none">/ Home </a></li>
                <li style="display: inline"><a href="/items" style="text-decoration: none">/ Items </a></li>
                <li style="display: inline"><a href="/about" style="text-decoration: none">/ About /</a></li>
            </ul>
        </nav>
    </header>

    <p>Название: {{ item.name }}</p>
    <p>Бренд: {{ item.brand }}</p>
    {% if item.count != 0 %}
        <p>Количество: {{ item.count }}</p>
    {% else %}
        <p>Количество: товар отсутсвует</p>
    {% endif %}
    <br>
    <p><a href="/items" style="text-decoration: none">&#8617; к списку товаров</a></p>
</body>
</html>